.buttons {
    margin-top: 2%;
    text-align: center;
}

.landing-content {
    color: white;
    text-align: center;
}

.landing-title {
    font-size: xx-large;
    padding-bottom: 8px;
    color: white;
    margin-top: 6%;
}

.landing-card {
    --ion-background-color: transparent;
    box-shadow: none !important;
}

img {
    margin-top: 28%;
}

