.home-title {
    color: #FFF;
    font-size:x-large;
    font-weight: 500;
}

.home-subtitle {
    color: #FFF;
    font-size: large;
    font-weight: 400;
}

.home-text {
    color: #FFF;
    line-height: 16px;
    font-size: 13px;
}


.home-card {
    margin-top: 24px;
    --background: #718da2;
    border-radius: 12px;
    padding: 0px !important;
    text-align: start;
}

.home-card-grid {
    --background: #718da2;
    border-radius: 12px;
    padding: 0px !important;
    text-align: start;
    width: 100% !important;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.grid {
    margin-top: 8px;
}

.home-list{
    margin-top: 12px !important;
    --ion-background-color: #577287;
    border-radius: 12px !important;
    margin-bottom: 0px !important;
}

.home-img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 180px;
}


