ion-item {
    color: white;
}

.icon {
    color: #FFF;
}

ion-badge {
    color: #ffffff;
    --background: #db934f;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-bottom: 4px;
    --padding-top: 4px;
}

.label {
    font-size: large;
}

.instances-list{
    margin-top: 24px !important;
    --ion-background-color: #718da2;
    border-radius: 12px !important;
}

.card {
    --ion-background-color: transparent !important;
    box-shadow: none !important;
}


.title {
    color: #FFF;
    font-size:x-large;
    font-weight: 500;
    margin-top: 12px !important;
}

.blocktext {
    color: #FFF;
    font-size:medium;

}

 