ion-item {
    color: white;
}

.icon {
    color: #FFF;
}

.instances-list{
    margin-top: 24px !important;
    --ion-background-color: #718da2;
    border-radius: 12px !important;
    margin-bottom: 0px !important;
}

.title {
    color: #FFF;
    font-size:x-large;
    font-weight: 500;
}

.blocktext {
    color: #FFF;
    font-size:medium;

}

 