.user-card {
    --ion-background-color: transparent !important;
    box-shadow: none !important;
    margin: 0px !important;
    padding: 0px !important;
}

.user-list {
    margin-bottom: 4.8%;
}

.settings-list, .links-list{
    padding: 10px;
    margin-top: 12px;
    --ion-background-color: #718da2;
    border-radius: 12px !important;
}

.modal-list{
    padding: 10px;
    margin-top: 0px;
    --ion-background-color: #718da2;
    border-radius: 12px !important;
}

.notif-list {
    --ion-background-color: #718da2;
    border-radius: 12px !important;
    margin-top: 0px;
    margin-left: 2%;
    margin-right: 2%;
}

.datetime {
    --background: #718da2;
    --wheel-highlight-background: #879eaf;
    border-radius: 16px;
    color: white;
    font-size: 1.2em;
    --wheel-fade-background-rgb: 113, 141, 162;
}

.Input-label {
    color: white;
    margin-bottom: 0px;
    font-weight: 600;
}

#user-name {
    color: white;
    padding-bottom: 2px;
    font-size: 1.2em;
    font-weight: bold;
}

#save-button {
    padding: 12px;
}

#account-name {
    color: white;
    padding-bottom: 2px;
    font-size: 0.8em;
    font-weight: light;
}

#title-dark {
    color: #394c5a;
}
