.questionnaire {
  padding: 6%;
}

.questionCard {
  margin-bottom: 18px;
  border-radius: 6px;
}

.questionCard-header {
  padding: 5%;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  color: white;
  background-color: #628299;
  border-radius: 10px 10px 0px 0px;
}

.questionCard-content {
  padding: 5%;
  line-height: 28px;
  color: black;
  background-color: #e4e7ea;
  border-radius: 0px 0px 10px 10px;
}

.textItem {
  padding: 5%;
  line-height: 22px;
  color: black;
  background-color: #e4e7ea;
  border-radius: 10px;
}
  
ion-radio{
  padding-top: 0.8%;
}

.progressBar {
  --background: #83929d99;
  --progress-background: #628299;
  margin-top: 2%;
  margin-bottom: 3%;
}

ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  padding-bottom: 2%
}

ion-grid {
  padding: 0%;
}

.pageButtons {
  --background: #628299;
}

.questionTextArea {
  --color: black;
  --highlight-color-focused: white;
}

.choices {
  padding-top: 5%;
}
